{% extends "base.html"%}
{% block title %}Admin Page{% endblock %}

{% block head %}
<script src="{{ url_for('static', filename='adminScriptSB.js')}}"></script>
{% endblock %}

{% block content %}

<div class="container-xxl allowScroll px-5 py-5">
    <!-- Populating the user suggestions for review by an admin-->
    <div class="row">
        <div class="col adminMessageWindow">
            <p>Messages for review</p>
            {% for msg in messages %}
                <div class="adminMessageUnique">
                    {% if msg is not none %}
                        <div class="message">
                            <p>{{msg}}</p>
                        </div>
                        <div class="message float-end">
                            <a href="#">Respond</a>                    
                            <a href="#">Delete</a>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>


    <!-- Create forms that an admin can use to add/edit -->
    <div class="row justify-content-center">
        

        <div class="col reloadPage">
            <h6>NEW DATA</h6>
            <form method="POST">

                <!-- Locating the JSON file for label types and icons in an editable textbox -->
                <div class="mb-3">
                    <label  class="form-label">The label type and icon/images</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="postedTheLabelTypes">
                        {{theLabelTypes}}
                    </textarea>
                </div>

                <!-- Locating the JSON file for label options and images in an editable textbox -->
                <div class="mb-3">
                    <label  class="form-label">The label options and images</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="postedTheLabels">
                        {{theLabels}}
                    </textarea>
                </div>

                <!-- Locating the JSON file for Daz Studio asset relative file paths in an editable textbox -->                
                <div class="mb-3">
                    <label  class="form-label">The label associated asset file paths</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="postedTheLabelAssets">
                        {{theLabelAssets}}
                    </textarea>
                </div>

                <button type="submit">RELOAD DATA</button>
            </form>
            

        </div>

    </div>

    <!-- Upload feature to upload new Daz Studios to the hosting system -->
    <div class="row ">
        <div class="col text-center selectImage">
            <h6>Upload Daz Assets</h6>
            <form>
                <div class="form-group">
                    <label for="exampleFormControlFile1">Select Zip file..</label>
                    <input type="file" class="form-control-file" id="UploadImage">
                </div>
            </form>
        </div>
    </div>

</div>

<!-- Modal to display tips to the admin on how to use the admin tools -->
<div class="modal" tabindex="-1" id="adminTipModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Quick Tips</h5>
            </div>
            <div class="guideModalText">
                <p>
                    The top section contains messages submitted by users for review by an admin
                </p>
                <p>
                    The next section is a feature to allow an admin update the JSON files responsible for populating the label tool, with label types and options.
                    
                </p>
                <p>
                    The third JSON file contains the relative file path of assets used by Daz Studio.
                    Each time a label is added, an asset must be added to this list to ensure that an asset representing the label can be loaded in Daz Studio.
                </p>
                <p>
                    The last section is used for uploading Daz Studio assets.
                    Not for use at this stage.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

{% endblock %}