{% extends "base.html" %}

{% block title %}Browse Results{% endblock %}

{% block head %}

{% endblock %}

{% block content %}

<!--Browse page content-->
<div class="container-fluid">
    <div class="row browseNav">
        <div class="col right">
            <!-- Table containing detail for lower navbar -->
            <table class="table table-sm browseTable">
                <tr class="tableRow">
                    <td text-align="left" valign="middle" width="200px">
                        <div class="input-group input-group-sm rounded justify-content-center">
                            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                                aria-describedby="search-addon" />
                            <span class="input-group-text border-0" id="search-addon">
                                <i class="bi bi-search"></i>
                            </span>
                        </div>
                    </td>
                    <td text-align="text-start" valign="middle">
                        <div class="col tableItem">
                            Showing results of search criteria : {{searchTerm}}
                        </div>
                    </td>
                    <td class="text-end" valign="middle">
                        <a href="#"><i onclick="gridview(3)" class="bi bi-grid-3x3-gap-fill"
                                style="font-size: 1.5rem; color: gray;"></i></a>
                        <i class="bi bi-grid-fill" style="font-size: 1.5rem; color: gray;"></i>
                        <i class="bi bi-square-fill" style="font-size: 1.5rem; color: gray;"></i>
                        <i class="bi bi-arrows-fullscreen" style="font-size: 1.5rem; color: gray;"></i>
                        <i class="bi bi-list" style="font-size: 1.5rem; color: gray;"></i>

                    </td>
                    <td class="text-end" valign="middle">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-bs-toggle="dropdown" style="vertical-align: middle">
                                Sort by:
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Most Recent</a>
                                <a class="dropdown-item" href="#">Most Relevant</a>
                                <a class="dropdown-item" href="#">Most labels</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td text-align="text-start" valign="middle">
                        <div class="filterTitle">
                            Filters
                        </div>
                        <div class="filterLink">
                            <a class="text-end tableItemClear" href="#">Clear</a>
                        </div>
                    </td>

                    <td text-align="left" valign="middle">
                        <div class="col browseTag">
                            <h6>{{searchTerm}} <a class="browseTagClose"><i class="bi bi-x"></i></a></h6>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <!-- Display options that match search criteria -->
    <div class="row browseSelections">

        <!-- Options to add additional options -->
        <div class="text-start col-1">
            <ul class="browseuls" style="list-style-type:none;">
                <li class=" float-left browseFilterList">Time</li>
                <li class="browseFilterList">Setting</li>
                <li class="browseFilterList">lighting</li>
                <li class="browseFilterList">Atmosphere</li>
                <li class="browseFilterList">Main Prop</li>
                <li class="browseFilterList">Camera</li>
                <li class="browseFilterList">Number of People</li>
                <li class="browseFilterList">Gender</li>
            </ul>
        </div>

        <!-- The options - Selecting this image will open the label tool and populate properties/labels for selection-->
        <div class="col justify-content-center browseResults">

            {% if not errorMessage  %}

                <div class="col text-center browseTitleMessage">
                    <h3>Select an option below to download or modify</h3>
                </div>

                <div class="row imgRow justify-content-center">
                    <!--Iterating through array of research results of images-->
                    {% for x in searchResults %}
                        <a class="img" href="label{{x}}"><img class="img" src="/static/RenderLibrary/{{x}}"></a>
                    {% endfor %}
                </div>
                
            {% else %}

                <div class="row imgRow justify-content-center">
                    <!--Iterating through array of research results of images-->
                    <h1>{{errorMessage}}</h1>
                </div>
                
            
            {% endif %}

        </div>
    </div>


</div>

{% endblock %}