{% extends "base.html" %}

{% block title %}Label Tool{% endblock %}

{% block head %}
<script src="{{ url_for('static', filename='modalGuideLoad.js')}}"></script>
{% endblock %}

{% block content %}

<div class="container-fluid h-100 Labeltool ">
    <!-- Start of Labelling HTML Code -->
    <div class="row d-flex justify-content-center h-100" id="mainBody" style="display:block">
        <!--Label Column-->
        <div class="col-2 labelscol">
            <div class="h-100 d-flex flex-column">
                <div class="row justify-content-center theLabels">
                    <h6>Label Types</h6>
                    <!--Iterating through the label types to population the sidebar options-->
                    {% for label in envLabelTypes %}
                        <div class="row aLabel" onclick="showDiv('cara{{label}}',1)">
                            <div class="labeltitle">
                                <label>{{label}}</label>
                                <i class='bi bi-{{envLabelIcons[label]}} labelicon'></i>

                            </div>
                        </div>
                    {% endfor %}
                        <!--Used to select number of characters in the scene-->
                    <div class="row aLabel" onclick="showDiv('caraNumChars', 1)">
                        <div class="labeltitle">
                            <label># Characters</label>
                            <i class="bi bi-people labelicon"></i>
                        </div>
                    </div>
                </div>

                <!-- PRELABELLED OBJECTS -->
                <div class="row justify-content-center bg-blue  objects" id="objects">
                    <div class="row justify-content-center objectstitle" id="insertObjects">
                        <h6>Label Selections</h6>
                    </div>
                </div>

                <div class="row justify-content-center bg-blue  charObjects" id="charObjects">
                    <div class="row justify-content-center objectstitle" id="insertCharObjects">

                        <h6>Characters</h6>
                        <div class="row justify-content-center objectstitle" id="Char1"></div>
                    </div>

                    <!-- Character Details - 
                        different characters selected in labelled column will show that character information and hide the other character information-->
                        <!-- Pre label character options to display in label tool-->
                    <div class="charLabels1" id="charLabels1">
                        <label class="characterLabelHeader1" id="characterLabelHeader1"
                            onclick="activeChar(this.id),showDiv('caraNumChars')">Character 1</label>
                        <!-- On click show the gender div displaying the character numbergender options and similar below -->
                        <!-- Will set the active character to that selected. Ensuring only active character options are updated-->
                        <div class="row aCharacterObject1" id="aCharacterObject1"
                            onclick="showDiv('caraNumChars',1), activeChar(this.id),showCharDiv('gender')"
                            style="display: block;">
                            <div class="charObjectTitle">
                                <label id="gender1id">Male</label>
                                <label class="labelType">gender</label>
                            </div>
                        </div>
                        <div class="row aCharacterObject1" id="aCharacterObject1"
                            onclick="showDiv('caraNumChars',1), activeChar(this.id),showCharDiv('charLoc')"
                            style="display: block;">
                            <div class="charObjectTitle">
                                <label id="charLoc1id">charUL</label>
                                <label class="labelType">charLoc</label>
                            </div>
                        </div>
                        <div class="row aCharacterObject1" id="aCharacterObject1"
                            onclick="showDiv('caraNumChars',1), activeChar(this.id),showCharDiv('hair')"
                            style="display: block;">
                            <div class="charObjectTitle">
                                <label id="hair1id">Short</label>
                                <label class="labelType">hair</label>
                            </div>
                        </div>
                        <div class="row aCharacterObject1" id="aCharacterObject1"
                            onclick="showDiv('caraNumChars',1), activeChar(this.id),showCharDiv('pose')"
                            style="display: block;">
                            <div class="charObjectTitle">
                                <label id="pose1id">Sitting</label>
                                <label class="labelType">pose</label>
                            </div>
                        </div>
                        <div class="row aCharacterObject1" id="aCharacterObject1"
                            onclick="showDiv('caraNumChars',1), activeChar(this.id),showCharDiv('top')"
                            style="display: block;">
                            <div class="charObjectTitle">
                                <label id="top1id">Tshirt</label>
                                <label class="labelType">top</label>
                            </div>
                        </div>
                        <div class="row aCharacterObject1" id="aCharacterObject1"
                            onclick="showDiv('caraNumChars',1), activeChar(this.id),showCharDiv('bottoms')"
                            style="display: block;">
                            <div class="charObjectTitle">
                                <label id="bottoms1id">Shorts</label>
                                <label class="labelType">bottoms</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--************Image Column  Column ***************-->
        <div class="col-10 justify-content-center text-center allowScroll">
            <div class="labelHeader">
                <h5>The selected image can be seen below. Please select labels that match this image.</h5>
            </div>
            <!-- Div shown depends on the character options updated/modified - Prototype only-->
            <!-- Intention is to show images matching properties selected or closest possible matches-->

            <!-- Intention is to show images matching properties selected or closest possible matches-->
            <div class="col justify-content-center" id="mainImage1" style="display:block">
                <div class="row justify-content-center">
                    <div class="col mainImage text-center justify-content-center ">
                        <img src="{{imgAddress}}" height="500px" />
                    </div>
                </div>
            </div>
            

            <!--Iterating through array passed in from flask app containing the environment  label options-->
            {% for label in envLabelTypes %}
                <div class="container {{label}}CaraSection" id="cara{{label}}" style="display:none">
                    <div class="row justify-content-center">
                        {% for labelX in theLabels %}
                            <!--If time = time display the options for time-->
                            {% if labelX == label %}
                                <!--iterate through array of options e.g., time options e.g., day & night-->
                                {% for a in theLabels[labelX][0] %}
                                    <div class="col-1 dayIcon " id="{{a}}"
                                        onclick="addShadow('{{a}}'); divHide('{{a}}', 'cara{{labelX}}'); addElement('{{a}}', '{{labelX}}')">
                                        <div class="row text-center">
                                            <!--Associated image for option e.g., Day-->
                                            <img src='{{theLabels[labelX][0][a]}}'>
                                        </div>
                                        <div class="row text-center">
                                            <!--Display option in text-->
                                            <h5>{{a}}</h5>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <!--Suggestion box-->
                    <div class="d-flex justify-content-center align-items-center container ">
                        <div class="row d-flex align-items-center justify-content-center assetSuggestion">
                            <form id="assetSuggestionForm" method="POST">
                                <div class="input-group mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Can't find the
                                        asset you are looking for? Why not provide us with s
                                        suggestion.</label>
                                    <input type="text" class="form-control" placeholder="Asset Suggestion"
                                        aria-label="Asset Suggestion" aria-describedby="button-primary"
                                        name="assetSuggestion">
                                    <button class="btn btn-primary" type="submit" id="timeSuggestionButton">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <!-- Character Selection Process OPTIONS SHOWN HERE ----- MIGHT ACTUALY WANT TO MAKE A CAROUSEL HERE-->
            <div class="container numCharsCaraSection" id="caraNumChars" style="display:none">
                <div class="row justify-content-center">
                    <div class="col-6 justify-content-center ">
                        <div class="row d-flex justify-content-center text-center numCharBarTitle">
                            <h1>Character Creation</h1>
                        </div>
                        <div class="row d-flex justify-content-center numCharBar" id="numCharBar" style="display:block">
                            <div class="col d-flex justify-content-center numCharCol" id="char0"
                                onclick="charInfo(this.id) ; hideCharDiv('', 'caraNumChars')">
                                <label>0</label>
                            </div>
                            <div class="col d-flex justify-content-center numCharCol" id="char1"
                                onclick="charInfo(this.id)">
                                <label>1</label>
                            </div>
                            <div class="col d-flex justify-content-center numCharCol" id="char2"
                                onclick="charInfo(this.id)">
                                <label>2</label>
                            </div>
                            <div class="col d-flex justify-content-center numCharCol" id="char3"
                                onclick="charInfo(this.id)">
                                <label>3</label>
                            </div>
                            <div class="col d-flex justify-content-center numCharCol" id="char4"
                                onclick="charInfo(this.id)">
                                <label>4</label>
                            </div>
                        </div>
                    </div>
                    <!--########## STARTING CHAR DETS -->
                    <div class="container text-center row charDetails center-text justify-content-center"
                        id="caraCharDetails" style="display:none">
                        <div class="row d-flex  justify-content-center">
                            <div class="col-2 d-flex  justify-content-center ">

                            </div>
                            <div class="col-2 d-flex  justify-content-center ">
                                <h2 id="charNumTitle">ENTER CHAR CREATION SCREEN DETAILS HERE</h2>
                            </div>
                        </div>
                        <div class="row d-flex  justify-content-center">
                            <!--CHRACTER Column-->
                            <div class="col-2 d-flex  justify-content-center ">
                                <!-- CHARACTER LABEL TYPES -->
                                <div class="row d-flex  justify-content-center">

                                    <div class="row d-flex aLabel justify-content-center"
                                        onclick="showCharDiv('gender', 1)">
                                        <div class="labeltitle d-flex  justify-content-center">
                                            <img class="center" src="/static/CharLabels/GenderSymbol.png" width="100"
                                                height="100">
                                        </div>
                                    </div>
                                    <div class="row d-flex aLabel justify-content-center"
                                        onclick="showCharDiv('charLoc', 1)">
                                        <div class="labeltitle d-flex  justify-content-center">
                                            <img class="center" src="/static/CharLabels/charLoc.png" width="100"
                                                height="100">
                                        </div>
                                    </div>
                                    <div class="row aLabel" onclick="showCharDiv('hair', 1)">
                                        <div class="labeltitle">
                                            <img class="center" src="/static/CharLabels/HairSymbol.png" width="100"
                                                height="100">
                                        </div>
                                    </div>
                                    <div class="row aLabel" onclick="showCharDiv('pose', 1)">
                                        <div class="labeltitle">
                                            <img class="center" src="/static/CharLabels/PoseSymbol.png" width="100"
                                                height="100">
                                        </div>
                                    </div>
                                    <div class="row aLabel" onclick="showCharDiv('top', 1)">
                                        <div class="labeltitle">

                                            <img class="center" src="/static/CharLabels/TopSymbol.png" width="100"
                                                height="100">
                                        </div>
                                    </div>
                                    <div class="row aLabel" onclick="showCharDiv('bottoms', 1)">
                                        <div class="labeltitle">
                                            <img class="center" src="/static/CharLabels/BottomSymbol.png" width="100"
                                                height="100">
                                        </div>
                                    </div>
                                    <div class="row aLabel" onclick="showCharDiv('props', 1)">
                                        <div class="labeltitle">
                                            <img class="center" src="/static/CharLabels/PropSymbol.png" width="100"
                                                height="100">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--OPTIONS WINDOW Column -->
                            <div class="col-10 allowScrollCC">
                                <div class="d-flex flex-column">
                                    <!-- Iterate through array passed in by flask of character label types -->
                                    {% for label in charLabelTypes %}
                                        <div class="container {{label}}CaraSection" id="{{label}}" style="display:none">
                                            <div class="row d-flex justify-content-center">
                                                <div class="row d-flex justify-content-center ">
                                                    <!--Iterate over array containing character label types. contains type and options-->
                                                    {% for labelX in charLabels %}
                                                    <!--If type == type e.g., gender == gender-->
                                                        {% if labelX == label %}
                                                            <!--Displayed options for label type e.g., label type = gender, options = male or female-->
                                                            {% for a in charLabels[labelX][0] %}
                                                                <div class="col-1 charIcon" id="{{a}}"
                                                                    onclick="addCharElement('{{a}}', '{{labelX}}'), hideCharDiv('{{a}}', '{{labelX}}')">
                                                                    <div class="row text-center">
                                                                        <!--Display option image-->
                                                                        <img src="{{charLabels[labelX][0][a]}}">
                                                                    </div>
                                                                    <div class="row text-center d-flex justify-content-center ">
                                                                        <!--Display option text -->
                                                                        <h6>{{a}}</h6>
                                                                    </div>
                                                                </div>
                                                            {% endfor %}
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <!--Suggestion box-->
                                            <div class="d-flex justify-content-center align-items-center container ">
                                                <div class="row d-flex align-items-center justify-content-center assetSuggestion">
                                                    <form id="assetSuggestionForm" method="POST">
                                                        <div class="input-group mb-3">
                                                            <label for="exampleInputEmail1" class="form-label">Can't find the
                                                                asset you are looking for? Why not provide us with s
                                                                suggestion.</label>
                                                            <input type="text" class="form-control" placeholder="Asset Suggestion"
                                                                aria-label="Asset Suggestion" aria-describedby="button-primary"
                                                                name="assetSuggestion">
                                                            <button class="btn btn-primary" type="submit" id="timeSuggestionButton">Submit</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- change active character +1 / -1-->
                            <div class="row charRotationOptions">

                                <div class="col-2 charRotationButton float-left">
                                    <h6 onclick="prevChar()">Previous</h6>
                                </div>
                                <div class="col-2 charRotationButton float-right">
                                    <h6 onclick="nextChar()">Next<h6>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- The download and render buttons -->
            <div class="row text-center justify-content-center">

                <div class="col downloadRender">



                    <div class="renderButton">

                        <button onclick="showDiv('labelCompleteModal')" type="button"
                            class="btn btn-primary">Complete</button>

                    </div>

                </div>

            </div>

        </div>
    </div>

</div>

<!-- Modal that is displayed while the image is rendered by Daz studio -->
<div class="modal" tabindex="-1" id="labelCompleteModal" role="dialog" style="display:none">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Labelling Complete!</h5>

            </div>
            <div class="text-center justify-content-center">
                <img class="text-center justify-content-center"
                    src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif?20151024034921">
            </div>
            <div class="modal-body">
                <p>Thank you. This image has been labeled and we are storing the results.</p>
                <p>Please click home below to select a new image.</p>
            </div>

            <div class="renderButton">

                <a class="renderLink nav-link" href="/"> <button type="button" class="btn btn-primary">Home</button>
                </a>

            </div>


        </div>
    </div>
</div>


<!-- Modal to display tips to user on how to use label tool -->
<div class="modal" tabindex="-1" id="guideModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Quick Tips</h5>
            </div>
            <div class="guideModalText">
                <p>
                    Environment labels can be seen in the left column upper section.
                    Each label will be shown in the left column middle section once selected.
                    These can be edited by selecting them in the upper or middle section.
                </p>
                <p>
                    The character labels will be shown once the number of characters has been selected.
                    The characters can be switched between by either selecting the character in the left column lower
                    section or by selecting "next" or "previous" in the character creation menu.
                </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

{% endblock %}