<!DOCTYPE html>
<html>

<head>
  {% block head %}
  {% endblock %}
  <!--BOOTSTRAP CSS CDN-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

  <!--BOOTSTRAP JS CDN-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <!--Local CSS-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">

  <!--Local Favicon Icon-->
  <link rel="shortcut icon" type="image/jpg" href="/static/favicon.png" />

  <!--Local JS File-->
  <script src="{{ url_for('static', filename='script.js')}}"></script>
  <!--<script src="{{url_for('static', filename='somejavascriptfile.js')}}"></script>-->
  <title> {% block title %} {% endblock %} </title>
</head>

<body>
  <!--The Navbar-->
  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a href="/">
          <img class="logo" src="https://www.logolynx.com/images/logolynx/a0/a0f9d7bd816856167375f1dcb3b469be.jpeg"
            width="50" height="50" href="home" />
        </a>
        <a class="navbar-brand" href="/">Story Board Creator</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">

            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Support</a>
            </li>
          </ul>
        </div>

        <div class="d-flex" id="navbarNav">
          <a class="nav-link" href="login">Login</a>
        </div>

      </div>
    </nav>
  </div>

  <!--Beginning of Content-->
  {% block content %}
  {% endblock %}

  <!--Script-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</body>

</html>