/*Label Tool CSS File */

html,body{
    margin: 0 auto;
    overflow: hidden;
    height:100%;
}


.allowScroll{
    height:90%;
    overflow-y: scroll;
}

.allowScrollCC{
    height:90%;
}

.theLabels{
    max-height:215px;
    border-bottom: 1px solid black ;
    overflow-y: scroll;
}

.aLabel{
    margin: 2px;

    border-width:2px;
    border-style:solid;
    border-color: white;   
    border-bottom: rgb(192, 190, 190);
    border-style: solid;
}

.labeltitle{
    padding: 2px;
    display: inline-block;
    margin: 2px;
}

.anObject{
    margin: 2px;

    border-width:2px;
    border-style:solid;
    border-color: white;   
    border-bottom: rgb(192, 190, 190);
    border-style: solid;
}

.objectTitle{
    padding: 2px;
    display: inline-block;
    margin: 2px;
}

.labelType{
    float: right;
}

.labelicon{
    float: right;
    padding-left: 2px;

    border-width:2px;
    border-style:solid;
    border-color: white;   
    border-left: gray;
    border-style: solid;
}

.iconCol{
    border-width:2px;
    border-style:solid;
    border-color:rgb(248, 204, 248);
    border-right: rgb(248, 152, 248);
    border-style:solid;
}

.objects{
    max-height: 215px;
    border-top: 5px solid red;
    border-bottom: 1px solid black ;
    overflow-y: scroll;
    
}

.charObjects{
    max-height: 215px;
    border-top: 5px solid red;
    border-bottom: 1px solid black ;
    overflow-y: scroll;
}

.objectstitle{
    border-bottom: 1px solid black ;
 
}

.labelscol{
    border-width:2px;
    border-style:solid;
    border-color:lightgrey;

}

.iconBar{
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-width:2px;
    border-style:solid;
    border-color:rgb(248, 152, 248);
    background-color: rgb(248, 204, 248);
}

.timeCaraSection{
    margin-top: 10px;
    margin-bottom: 10px;
}

.settingCaraSection{
    margin-top: 10px;
    margin-bottom: 10px;
}

.lightingCaraSection{
    margin-top: 10px;
    margin-bottom: 10px;
}

.atmosphereCaraSection{
    margin-top: 10px;
    margin-bottom: 10px;
}

.propCaraSection{
    margin-top: 10px;
    margin-bottom: 10px;
}

.propLocCaraSection{
    margin-top: 10px;
    margin-bottom: 10px;
}

.cameraCaraSection{
    margin-top: 10px;
    margin-bottom: 10px;
}

.row2{
    margin-top: 10px;
    margin-bottom: 10px;
}

.dayIcon{
    padding: 5px;
    border-width:2px;
    border-radius: 5px;
    border-style:solid;
    border-color:black;
    background-color: rgb(253, 253, 188);
    width:25%;
}

.dayIcon:hover{
    background-color:cornflowerblue;
}

.charIcon{
    padding: 5px;
    border-width:2px;
    border-radius: 5px;
    border-style:solid;
    border-color:black;
    background-color: white;
    width:25%;
}

.charIcon:hover{
    background-color:cornflowerblue;
}

.numCharBar{

    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

.numCharCol{
    border-width:2px;
    border-style:solid;
    border-color:rgb(135, 197, 255);
    background-color: rgb(198, 212, 252);
    border-style:solid;
    display: inline-block;
}



.classWithShadow{
    -moz-box-shadow: 3px 3px 4px #000; 
    -webkit-box-shadow: 3px 3px 4px #000; 
    box-shadow: 3px 3px 4px #000; 


 }.nextChar{
    float:right ;
 }

 .charRotationOptions{
    padding: 2px;
    display: inline-block;
    margin: 2px;

   
 }

 .charRotationButton{
    padding-top: 3px;
    display: inline-block;
    border-width:2px;
    border-radius: 10px;
    border-style:solid;
    border-color:rgb(135, 197, 255);
    background-color: rgb(198, 212, 252);
    border-style:solid;

    

 }