{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block head %}

{% endblock %}





{% block content %}



<div class="container-fluid h-100">

    <div class="col imageSelection">
        <div class="col homePageWelcome">
            <div class = "row text-center" >
                <h1 class="mainHomeTitle">Create your story board image here</h1>
            </div>

            <div class = "row text-centers" >
                <h6>Select from the images below to start creating your story board image.</h6>
            </div>
        </div>


        <div class="col">
            <div class="row">
                <div class="col selectImage text-center">

                   <a class="nav-link" href="label{{imgName1}}"> <img src="{{imgAddress1}}" width="75%"> </a>
                </div>
                <div class="col selectImage text-center">

                    <a class="nav-link" href="label{{imgName2}}"><img src="{{imgAddress2}}" width="75%"></a>
                </div>
            </div>
            <div class="row">
                <div class="col selectImage text-center">

                    <a class="nav-link" href="label{{imgName3}}"><img src="{{imgAddress3}}" width="75%"></a>
                </div>
                <div class="col selectImage text-center">

                    <a class="nav-link" href="label{{imgName4}}"><img src="{{imgAddress4}}" width="75%"></a>
            </div>
            </div>
            <div class="row " >
                <div class="col text-center selectImage">
                    <h6>Upload your own image...</h6>
                    <form>
                        <div class="form-group">
                        <label for="exampleFormControlFile1">Select image file..</label>
                        <input type="file" class="form-control-file" id="UploadImage">
                        </div>
                    </form>
                </div>
            </div>
          
        </div>
    </div>
</div>




{% endblock %}