{% extends "base.html"%}
{% block title %}Render Page{% endblock %}

{% block content %}

<div class="container col-xl-10 col-xxl-8 px-4 py-5 renderedImage">

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}



    <div class = "row">
        <h6>Please see rendered image below.</h6>
    </div>

    <div class = "row ">
        <h6>*{{imageTitle}}*</h6>
        <img src="{{content}}"  />
        
        <!--<img src="{{content}}" width="100" height="100">-->
    </div>
    

</div>

{% endblock %}