.imgform{
    background-color: rgb(209, 170, 245); 
}

.carasection{
    background-color: rgb(223, 245, 170); 
}

.TopRowButtons{
    padding-top: 1%;
    padding-bottom: 1%;
}

.colL{   
    padding: 1%;
}

.colR{   
    padding: 1%;
}

.opt1{
    background-color: rgb(209, 170, 245);
}

.opt2{
    background-color: rgb(209, 170, 245);
    margin-top: 12%;
    margin-bottom: 12%;
}

.cara1Opt{
    width: 50%;
}