/*Label Tool CSS File */

html,body{
    margin: 0 auto;
    overflow: hidden;
    height:100%;
}


.allowScroll{
    height:90%;
    overflow-y: scroll;
}

.allowScrollCC{
    height:90%;
}

.theLabels{
    max-height:215px;
    border-bottom: 1px solid black ;
    overflow-y: scroll;
}

.aLabel{
    margin: 2px;

    border-width:2px;
    border-style:solid;
    border-color: white;   
    border-bottom: rgb(192, 190, 190);
    border-style: solid;
}

.labeltitle{
    padding: 2px;
    display: inline-block;
    margin: 2px;
}

.anObject{
    margin: 2px;

    border-width:2px;
    border-style:solid;
    border-color: white;   
    border-bottom: rgb(192, 190, 190);
    border-style: solid;
}

.objectTitle{
    padding: 2px;
    display: inline-block;
    margin: 2px;
}

.labelType{
    float: right;
}

.labelicon{
    float: right;
    padding-left: 2px;

    border-width:2px;
    border-style:solid;
    border-color: white;   
    border-left: gray;
    border-style: solid;
}

.iconCol{
    border-width:2px;
    border-style:solid;
    border-color:rgb(248, 204, 248);
    border-right: rgb(248, 152, 248);
    border-style:solid;
}

.objects{
    max-height: 215px;
    border-top: 5px solid red;
    border-bottom: 1px solid black ;
    overflow-y: scroll;
    
}

.charObjects{
    max-height: 215px;
    border-top: 5px solid red;
    border-bottom: 1px solid black ;
    overflow-y: scroll;
}

.objectstitle{
    border-bottom: 1px solid black ;
 
}

.labelscol{
    border-width:2px;
    border-style:solid;
    border-color:lightgrey;

}

.iconBar{
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-width:2px;
    border-style:solid;
    border-color:rgb(248, 152, 248);
    background-color: rgb(248, 204, 248);
}

.timeCaraSection{
    margin-top: 10px;
    margin-bottom: 10px;
}
.numCharBarTitle{
    margin-top: 20px;
    border-top: solid 1px;
}

.labelHeader{
    margin-top: 20px;
    margin-bottom: 10px;
   
}
.settingCaraSection{
    margin-top: 10px;
    margin-bottom: 10px;
}

.lightingCaraSection{
    margin-top: 10px;
    margin-bottom: 10px;
}

.atmosphereCaraSection{
    margin-top: 10px;
    margin-bottom: 10px;
}

.propCaraSection{
    margin-top: 10px;
    margin-bottom: 10px;
}

.propLocCaraSection{
    margin-top: 10px;
    margin-bottom: 10px;
}

.cameraCaraSection{
    margin-top: 10px;
    margin-bottom: 10px;
}

.row2{
    margin-top: 10px;
    margin-bottom: 10px;
}

.dayIcon{
    padding: 5px;
    border-width:2px;
    border-radius: 5px;
    border-style:solid;
    border-color:black;
    /*background-color: rgb(253, 253, 188);*/
    background-color: white;
    width:25%;
}

.dayIcon:hover{
    background-color:cornflowerblue;
}

.charIcon{
    padding: 5px;
    border-width:2px;
    border-radius: 5px;
    border-style:solid;
    border-color:black;
    background-color: white;
    width:25%;
}

.charIcon:hover{
    background-color:cornflowerblue;
}

.numCharBar{

    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

.numCharCol{
    border-width:2px;
    border-style:solid;
    border-color:rgb(135, 197, 255);
    background-color: rgb(198, 212, 252);
    border-style:solid;
    display: inline-block;
}



.classWithShadow{
    -moz-box-shadow: 3px 3px 4px #000; 
    -webkit-box-shadow: 3px 3px 4px #000; 
    box-shadow: 3px 3px 4px #000; 


 }.nextChar{
    float:right ;
 }

 .charRotationOptions{
    padding: 2px;
    display: inline-block;
    margin: 2px;

   
 }

 .charRotationButton{
    padding-top: 3px;
    display: inline-block;
    border-width:2px;
    border-radius: 10px;
    border-style:solid;
    border-color:rgb(135, 197, 255);
    background-color: rgb(198, 212, 252);
    border-style:solid;
 }
 
.mainImage  {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.mainHomeTitle{
    margin-top:10px;
    color: white;

}

.mainHomeWelcomeMessage{
    margin-top:10px;
    color: white;
}

.labelBrowseButton{
    color: white;
    background-color: rgb(189, 189, 189);
    border-radius: 10px;
    margin-top:50px;
    padding: 10px;
}
.labelLoginModalButton{
    margin-top:20px;
}
 
.mainHomeTitle{
    font-family: Arial, Helvetica, sans-serif;
}

.labelLoginModalForm{
    margin-top: 50px;
    margin-left: 15%;
    margin-right: 15%;
}

.renderedImage{
    margin: 0 auto;
    overflow-y: scroll;
    height:90%;
}

.homePageMain{
    height:90%;
    overflow: hidden;
    overflow-y: scroll; 
}

.homePageIntro{
    height:100%;
    overflow: hidden;
    color: black;
    background-image: url("/static/Images/Fast-Furious-Render.jpg");
    background-repeat: no-repeat, repeat;
    background-position: center; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-color: #cccccc;
}

.trendingTitle{
    margin-top: 50px;
}

.selectImage{
margin:30px;
padding: 5px;
background-color: white;
width:25%;
}



.browseTable{
border: rgb(206, 204, 204);
}

.tableRow{
    color: black;
    font-size: small;
    height: 50px;
}

.tableLink{
align-items:center;
font-size: large;
}

.tableItem{
align-items:center;
font-size: large;
vertical-align: middle;
}

.tableLinkClear{
align-items:center;
font-size:smaller;
}

.filterTitle{
float: none !important;
display: inline-block !important;
}

.filterLink{
float: right !important;

}

.browseNav{
    background-color:rgb(206, 204, 204);
}

.browseFilterList{

border-bottom: 2px solid gray;
margin-top: 5px;
margin-bottom: 5px;
font-size: small;
color:cadetblue;
}

.browseuls{
padding: 0;
}

.img{

margin: 5px;
display: inline-block;
max-width:350px;
max-height:350px;
width: auto;
height: auto;

}

.imgRow{

   
    margin: 5px;
}

.browseResults{

height:550px;
overflow: hidden;
overflow-y: scroll; 
}

.searchGroup{
display:inline-block;
}

.browseTag{
    display: inline-block;
    background-color:rgb(253, 250, 250);
    border-radius: 5px;
    padding-left: 2px;
    padding-right: 2px;
}

.browseTagClose{
    display: inline-block;
}

.browseTitleMessage{
    margin-top: 25px;
}

.guideModalText{
    margin-left: 25px;
    margin-top: 10px;
    padding-right: 10px;
}

.downloadRender{
    justify-content: center;
    display: inline-block;
    margin-top: 20px;
}
.downloadButton{
display: inline-block;
    color: white;
}

.renderButton{
    display: inline-block;
    
}



.adminMessageWindow{
    padding: 20px;
    border: groove gray;
    border-radius: 10px;
    height: 300px;
    width: 90%;
    overflow: auto;

}

.adminMessageUnique{
    border-bottom: 1px solid gray;
}
.message{
    display: inline-block;
}

.app-text{
    display: inline-block;
}

.reloadPage{
    padding: 20px;
    margin-top:20px;
    border: groove gray;
    border-radius: 20px;
    height: 100px;
}


/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey;
border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: gray;
border-radius: 10px;
}
